title= title

div
  div#header 
    h2 Welcome to Alumni E-Club!
    p Currently only for Stanford GSB alumni
  div.button 
    a(href='/login') Login
  div.button
    a(href='/register') Register
  div.button
    a(href='/about') Learn More
    
