// publicCompanyPage
h1 Hi there! This is the Company Page
div= publicCompanyObject

p Name: #{publicCompanyObject.name}
p Description:  #{publicCompanyObject.description}
p Contact: 
	a(href='/user/' + publicCompanyObject.contactId) #{publicCompanyObject.contactName}
-if (publicCompanyObject.sectors)
	p Sector: 
		-for sector in publicCompanyObject.sectors
			=sector + ' '
-if (publicCompanyObject.needs)
	p Mentorship Needs: 
		-for need in publicCompanyObject.needs
			=need + ' '